.vote h4 {
  font-size: 16px;
  line-height: 140%;
}

.vote {
  margin-bottom: 32px;
  margin-top: 32px;
}
.vote h3 {
  font-size: 20px;
  line-height: 140%;
}

.vote h2 {
  font-size: 24px;
  line-height: 140%;
}

.marquee {
  overflow-x: hidden;
  max-width: 904px;
  width: 100%;
}

.marquee > div {
  display: flex;
  width: max-content;
  animation-name: transX;
  animation-duration: 70s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.marquee > div:hover {
  animation-play-state: paused;
}

/* marquee transition animation from right to left */
@keyframes transX {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-2500px);
  }
  90% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

.lg-group {
  border: 1px solid #ffffff11;
  padding: 16px;
  margin-right: 32px;
  width: 280px;
  flex: 1 0 auto;
  background: white;
}

.lg-group.longest {
  width: 560px;
}

.lg-group.longest ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.lg-group.longest li {
  width: 45%;
  margin-left: 12px;
}

.marquee h5 {
  font-size: 20px;
  margin-bottom: 24px;
  color: #121212;
}

.marquee li,
.marquee p {
  font-family: Inter;
  font-size: 14px;
  line-height: 110%;
  margin-bottom: 20px;
  color: #323232;
  text-align: left;
}
