.vote h4 {
  font-size: 16px;
  line-height: 140%;
}

.vote {
  margin-bottom: 32px;
  margin-top: 32px;
}
.vote h3 {
  font-size: 20px;
  line-height: 140%;
}

.vote h2 {
  font-size: 24px;
  line-height: 140%;
}

.marquee {
  overflow-y: hidden;
  /* max-width: 904px; */
  max-height: 400px;
  width: 100%;
}

.marquee > div {
  display: flex;
  flex-direction: column;
  width: max-content;
  animation-name: transX;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.marquee > div:hover {
  animation-play-state: paused;
}

/* marquee transition animation from right to left */
@keyframes transX {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3702px);
  }
  90% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.lg-group {
  /* border: 1px solid #ffffff11; */
  padding: 16px;
  margin-right: 32px;
  width: 280px;
  flex: 1 0 auto;
  background: #121212;
}

.lg-group.longest {
  width: 560px;
}

.lg-group.longest ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 16px;
  padding: 12px 32px;
}

.lg-group.longest li {
  width: 100%;
  margin-left: 12px;
}

.marquee h5 {
  font-size: 20px;
  margin-bottom: 24px;
  color: #ffffff;
  margin-left: 12px;
  text-align: left;
}

.marquee li,
.marquee p {
  font-family: Inter;
  font-size: 16px;
  line-height: 110%;
  margin-bottom: 32px;
  color: #dedede;
  text-align: left;
  text-transform: capitalize;
}
